<% layout("./layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3><b><%=list.title%></b></h3>
            <div class="listing-card card col mt-3" class="col-8 offset-2 mt-3">
                <img src="<%=list.image%>" class="card-img-top show-img" alt="listing-image">
                <!-- <div class="card-img-overlay"></div> -->
                <div class="card-body">
                    <p class="card-text">
                        <%=list.description%> <br>
                        <b>Price:</b> &#8377;<%=list.price.toLocaleString("en-IN")%> per Night <br>
                        <b>Location:</b> <%=list.location%>,
                        <%=list.country%>
                    </p>
                </div>
            </div>
            <div class="btns d-flex gap-5 justify-content-center  ">
                <a class="btn btn-dark show-edit-btn mb-3" 
                href="/listings/<%=list.id%>/edit">
                Edit  </a>

                <form method="POST" action="/listings/<%=list.id%>?_method=DELETE">
                    <button class="btn delete-btn btn-dark mb-3">Delete</button>
                </form>

            </div>
            <hr>
            <div class="col-12 mb-3">
                <h4>Leave a Review</h4>
                <form method="post" action="/listings/<%=list.id%>/reviews" novalidate class="needs-validation">
                    <div class="mb-3 mt-3">
                        <label for="rating" class="form-label">Rating</label>
                        <input type="range" name="review[rating]" min='1' max='5' class="form-range">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comment</label>
                        <textarea name="review[comment]" id="review_comment" class="form-control" rows="5" cols="30jk" placeholder="Write your comments here ..." required ></textarea>
                        <div class="invalid-feedback">Please write a comment to submit</div>
                    </div>
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
                <hr>
                <p><b>All Reviews</b></p>
                <div class="row">
                    <% for(review of list.reviews) { %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">John Abrahm</h5>
                            <p class="card-text"><%=review.comment%></p>
                            <p classs="card-text"><%=review.rating%> stars</p>
                            <form method="Post" class="mb-1" action="/listings/<%=list.id%>/reviews/<%=review._id%>?_method=DELETE">
                                <button class="btn btn-dark">Delete</button>
                            </form>

                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>